@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



/*ESTILO GERAL*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    list-style: none;

}

body {
    background-color: #200132;
    height: 100vh;

}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: white;
    font-size: 34px;
    text-align: center;
}

h2.titulo span {
    color: #FFBF00;
}

/*ESTILO CABEÇALHO*/
header {
    padding: 40px 4%;
    background: linear-gradient(to top, #200132, #650355);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.308);

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {
    color: #d8d0d0;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #FFBF00;
    transform: scale(1.05);
    text-shadow: 1px 1px 5px #ffbf00ac;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0px 40px;
}

header nav ul {
    list-style-type: none;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0C0F1A;
    border-radius: 20px;
    color: #d8d0d0;
    border: 1px solid #FFBF00;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    color: #FFBF00;
    box-shadow: 0px 0px 8px #ffbf00ac;
    transform: scale(1.05);

}



.interface .logo img {
    border-radius: 50%;
    box-shadow: 0px 0px 8px #200132;
}

/*ESTILO CABEÇALHO*/
/*estilo menu mobile*/
.btn-abrir i {
    color: #FFBF00;
    font-size: 40px;
}

.btn-abrir {
    display: none;
}

.menu-mobile {
    background-color: #351448ce;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    line-height: 50px;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i {
    color: #FFBF00;
    font-size: 40px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    display: block;

}

.menu-mobile nav ul li:hover {
    background-color: #FFBF00;

}

.menu-mobile nav ul li a:hover {
    color: #000;
}

.overlay-menu {
    background-color: #00000093;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    display: none;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 35px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #FFBF00;
    font-size: 84px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
    text-align: justify;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

section.topo-do-site .interface .img-topo-site img {
    border-radius: 20%;
    box-shadow: 0px 0px 12px #ffbf00b2;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESPECIALIDADES */
section.especialidades {
    padding: 80px 4%;

}

section.especialidades .flex {
    gap: 60px;

}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    transition: .2s;
    margin-top: 35px;
    border-radius: 20px;
    text-align: justify;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.468);
}

.especialidades .especialidades-box i {
    color: #FFBF00;
    font-size: 70px;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0px;
}

/*ESTILO SOBRE*/
section.sobre {

    padding: 100px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

section.sobre .txt-sobre {
    color: #ffffff;
}

.sobre .img-sobre img {
    border-radius: 10%;
    box-shadow: 0px 0px 8px #FFBF00;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}

.sobre .txt-sobre h2>span {
    color: #FFBF00;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0px;
    text-align: justify;
}

.btn-social button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    box-shadow: 0px 0px 8px #FFBF00;
    background-color: #FFBF00;
    color: #200132;
    transition: .2s;
    cursor: pointer;
    margin: 0px 10px;
}

.btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #f8ca42;

}

/*ESTILO PORTFOLIO*/
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 8px #f8cb4237;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #d8d0d0;
    position: relative;
    margin-top: 3rem;
    transition: 5s;
}

.img-port:hover {
    background-position: 100% 100%;
    cursor: pointer;

}

section.portfolio .flex {
    justify-content: space-around;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #00000086;
    color: #fff;
    opacity: 1;
    transition: 2s;
}

.overlay:hover {
    opacity: 0;
}

/*ESTILO FORMULARIO*/
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 28px;
}

form input,
form textarea {
    width: 100%;
    background-color: #45454586;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #FFBF00;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.527);
    transition: .2s;
}

form .btn-enviar input:hover {


    box-shadow: 0px 0px 8px #ffbf00ac;
    transform: scale(1.05);

}

/*estilo footer*/
footer {
    padding: 60px 4%;
    box-shadow: 0px 0px 40px 8px #f8cb4237;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 30px 0px;
    text-align: center;
}

.borda {
    border-top: 1px solid #f8ca42;
}

footer .line-footer p i {
    color: #FFBF00;
    font-size: 22px;
}

footer .line-footer p a {

    color: #ffffff;

}

footer .logo-footer img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #200132;
}